@using ContestGenerator.Models.Contest
@model Contest


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <title>@Model.FullName</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- Вкладки -->
    <header class="text-gray-700 body-font border-b border-gray-200">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <p class="flex flex-col flex-wrap md:flex-row title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img class="w-20" src="@Model.LogoUrl">
                <span class="ml-3 text-xl">@Model.ShortName</span>
            </p>
            <nav class="md:ml-auto flex flex-col flex-wrap md:flex-row items-center text-base justify-center">
                @if (Model.Reviews is not null && Model.Reviews.Any())
                {
                    <a href="#about" class="mx-5 mb-2 md:mb-0 hover:text-gray-900 headerItem">О конкурсе</a>
                }
                @if (Model.Steps is not null && Model.Steps.Any())
                {
                    <a href="#howto" class="mx-5 mb-2 md:mb-0 hover:text-gray-900 headerItem">Как подготовить работу</a>
                }
                <a href="#send" class="mx-5 mb-2 md:mb-0 hover:text-gray-900 headerItem">Подать работу</a>
                @if (Model.Helps is not null && Model.Helps.Any())
                {
                    <a href="#info" class="mx-5 mb-2 md:mb-0 hover:text-gray-900 headerItem">В помощь участнику</a>
                }
                <a href="#help" class="mx-5 mb-2 md:mb-0 hover:text-gray-900 headerItem">Обратная связь</a>
            </nav>
        </div>
    </header>

    <!-- Стартовая страница -->
    <section class="text-gray-700 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
                    @Model.FullName
                </h1>
                <p class="mb-8 leading-relaxed">
                    @Model.Description
                </p>
                <div class="flex justify-center">
                    <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                            data-te-toggle="modal"
                            data-te-target="#rulesModal"
                            data-te-ripple-init
                            data-te-ripple-color="light">
                        Правила
                    </button>
                    <!-- Правила -->
                    <div data-te-modal-init
                         class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
                         id="rulesModal"
                         tabindex="-1"
                         aria-labelledby="rulesLabel"
                         aria-modal="true"
                         role="dialog">
                        <div data-te-modal-dialog-ref
                             class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
                            <div class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none">
                                <div class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4">
                                    <!--Modal title-->
                                    <h5 class="text-xl font-medium leading-normal text-neutral-800"
                                        id="rulesLabel">
                                        Правила участия
                                    </h5>
                                    <!--Close button-->
                                    <button type="button"
                                            class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                                            data-te-modal-dismiss
                                            aria-label="Close">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             class="h-6 w-6">
                                            <path stroke-linecap="round"
                                                  stroke-linejoin="round"
                                                  d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </div>

                                <!--Modal body-->
                                <div class="relative p-4">
                                    <p class="whitespace-pre-line">@Model.Rules</p>
                                </div>
                                <!--Modal footer-->
                                <div class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4">
                                    <button type="button"
                                            class="inline-block rounded bg-blue-600 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]"
                                            data-te-modal-dismiss
                                            data-te-ripple-init
                                            data-te-ripple-color="dark">
                                        Закрыть
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button data-te-toggle="modal"
                            data-te-target="#historyModal"
                            data-te-ripple-init
                            data-te-ripple-color="light"
                            class="ml-4 inline-flex text-gray-700 bg-gray-200 border-0 py-2 px-6 focus:outline-none hover:bg-gray-300 rounded text-lg">
                        История
                    </button>
                    <!-- История -->
                    <div data-te-modal-init
                         class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
                         id="historyModal"
                         tabindex="-1"
                         aria-labelledby="historyLabel"
                         aria-modal="true"
                         role="dialog">
                        <div data-te-modal-dialog-ref
                             class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
                            <div class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none">
                                <div class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4">
                                    <!--Modal title-->
                                    <h5 class="text-xl font-medium leading-normal text-neutral-800"
                                        id="historyLabel">
                                        История
                                    </h5>
                                    <!--Close button-->
                                    <button type="button"
                                            class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                                            data-te-modal-dismiss
                                            aria-label="Close">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             class="h-6 w-6">
                                            <path stroke-linecap="round"
                                                  stroke-linejoin="round"
                                                  d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </div>

                                <!--Modal body-->
                                <div class="relative p-4">
                                    <p class="whitespace-pre-line">@Model.History</p>
                                </div>
                                <!--Modal footer-->
                                <div class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4">
                                    <button type="button"
                                            class="inline-block rounded bg-blue-600 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]"
                                            data-te-modal-dismiss
                                            data-te-ripple-init
                                            data-te-ripple-color="dark">
                                        Закрыть
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                <img class="object-cover object-center rounded" alt="hero"
                     src="@Model.MainPhotoUrl">
            </div>
        </div>
    </section>


    @if (Model.Reviews is not null &&
    Model.Reviews.Any())
    {
        <!-- Отзывы -->
        <section class="text-gray-700 body-font border-t border-gray-200" id="about">
            <div class="container px-5 py-20 mx-auto">
                <div class="flex flex-col text-center w-full mb-20">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Отзывы</h1>
                </div>
                <div class="flex flex-wrap -m-4">
                    @foreach (var review in Model.Reviews)
                    {
                        <div class="p-4 w-full md:w-1/3">
                            <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                                <div class="flex items-center mb-3">
                                    <div class="w-8 h-8 mr-3 inline-flex items-center justify-center flex-shrink-0 rounded-full overflow-hidden">
                                        <img class="w-8 h-8" src="@review.Url">
                                    </div>
                                    <h2 class="text-gray-900 text-lg title-font font-medium">@review.Name</h2>
                                </div>
                                <div class="flex-grow">
                                    <p class="leading-relaxed text-base break-all">@review.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

    @if (Model.PhotoUrls is not null && Model.Nominations is not null &&
    Model.PhotoUrls.Any() && Model.Nominations.Any())
    {
        <!-- Номинации и фото --->
        <section class="text-gray-700 body-font border-t border-gray-200">
            <div class="container md:px-5 py-10 mx-auto flex flex-wrap">
                <div class="flex flex-col text-center w-full mb-4">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Номинации</h1>
                </div>
                <!-- Фото -->
                <div class="lg:w-1/2 self-center w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
                    <div id="carouselExampleControls"
                         class="relative h-full"
                         data-te-carousel-init
                         data-te-carousel-slide
                         data-te-ride="carousel">
                        <!--Carousel indicators-->
                        <div class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-14 flex list-none justify-center p-0"
                             data-te-carousel-indicators>
                            @for (int slide = 0; slide < Model.PhotoUrls.Count(); slide++)
                            {
                                <button type="button"
                                        data-te-target="#carouselExampleControls"
                                        data-te-slide-to="@slide"
                                        data-te-carousel-active
                                        class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                                        aria-current="true"
                                        aria-label="Slide"></button>
                            }
                        </div>
                        <!--Carousel items-->
                        <div class="relative h-full w-full overflow-hidden after:clear-both after:block after:content-['']">
                            <!--First item-->
                            <div class="relative h-full float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                                 data-te-carousel-item data-te-carousel-active>
                                <img src="@Model.PhotoUrls.First().Url"
                                     class="block w-full h-screen py-10 object-cover" />
                            </div>
                            @foreach (var photo in Model.PhotoUrls.Skip(1))
                            {
                                <!--Other items-->
                                <div class="relative h-full float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                                     data-te-carousel-item>
                                    <img src="@photo.Url"
                                         class="block w-full h-screen py-10 object-cover" />
                                </div>
                            }
                        </div>

                        <!--Carousel controls - prev item-->
                        <button class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                                type="button" data-te-target="#carouselExampleControls" data-te-slide="prev">
                            <span class="inline-block h-8 w-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                     stroke="currentColor" class="h-6 w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                                </svg>
                            </span>
                            <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Previous</span>
                        </button>
                        <!--Carousel controls - next item-->
                        <button class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                                type="button" data-te-target="#carouselExampleControls" data-te-slide="next">
                            <span class="inline-block h-8 w-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                     stroke="currentColor" class="h-6 w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </span>
                            <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Next</span>
                        </button>
                    </div>
                </div>

                <!-- Номинации -->
                <div class="flex flex-row flex-wrap w-full lg:py-16 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
                    @foreach (var nomination in Model.Nominations)
                    {
                        <div class="flex w-full md:w-1/2 flex-col mb-10 lg:items-start items-center">
                            <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                     stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                                    <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1zM4 22v-7"></path>
                                </svg>
                            </div>
                            <div class="flex-grow md:mr-5">
                                <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                                    @nomination.Name
                                </h2>
                                <p class="leading-relaxed text-base break-all">
                                    @nomination.Description
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

    @if (Model.Steps is not null &&
    Model.Steps.Any())
    {
        <!-- Как подготовить работу -->
        <section class="text-gray-700 body-font border-t border-gray-200" id="howto">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Как подготовить работу</h1>
                    <p class="lg:w-1/2 w-full leading-relaxed text-base">
                        Как правильно подготовить и подать работу для
                        гарантированного участия в конкурсе
                    </p>
                </div>
                <div class="flex flex-wrap -m-4">
                    @foreach (var step in Model.Steps)
                    {
                        <div class="w-full xl:w-1/3 md:w-1/2 p-4">
                            <div class="h-full border border-gray-300 p-6 rounded-lg">
                                <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                         stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                                        <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                                    </svg>
                                </div>
                                <h2 class="text-lg text-gray-900 font-medium title-font mb-2">@step.Name</h2>
                                @if (!string.IsNullOrEmpty(step.Description))
                                {
                                    <p class="leading-relaxed text-base whitespace-pre-line break-all">@step.Description</p>
                                }
                                @if (!string.IsNullOrEmpty(step.VideoUrl))
                                {
                                    <iframe frameborder="0"
                                            allow="clipboard-write; autoplay"
                                            webkitallowfullscreen
                                            mozallowfullscreen
                                            allowfullscreen
                                            src="@step.VideoUrl"
                                            class="w-full h-[250px] mt-7"></iframe>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

    <!-- Подать работу -->
    <section class="text-gray-700 body-font border-t border-gray-200" id="send">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Подать работу</h1>
            </div>
            <div class="flex flex-wrap -m-4 justify-center">
                <form class="border border-gray-300 p-10 rounded-lg md:w-1/2"
                      action="/ContestView/send"
                      method="post">
                    @foreach (var formField in Model.FormFields)
                    {
                        <div class="mb-6">
                            <div>
                                <label class="block text-gray-500 font-bold text-left mb-1 pr-4 break-all">@formField.Name</label>
                            </div>
                            <div class="w-full">
                                @if (formField.Predefined is null ||
                               !formField.Predefined.Any())
                                {
                                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-500"
                                           type="text"
                                           name="@formField.Name">
                                }
                                else
                                {
                                    <select name="@formField.Name"
                                            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-500 cursor-pointer">
                                        @foreach (var predefined in formField.Predefined)
                                        {
                                            <option value="@predefined.Value">@predefined.Value</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                    }
                    <div class="relative block min-h-[1.5rem] pl-[1.5rem] mb-6">
                        <input class="relative float-left -ml-[1.5rem] mr-[6px] mt-[0.3rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 outline-none before:pointer-events-none before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full before:bg-transparent before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-[''] checked:border-primary checked:bg-primary checked:before:opacity-[0.16] checked:after:absolute checked:after:-mt-px checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid checked:after:border-white checked:after:bg-transparent checked:after:content-[''] hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] focus:after:rounded-[0.125rem] focus:after:content-[''] checked:focus:before:scale-100 checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] checked:focus:after:-mt-px checked:focus:after:ml-[0.25rem] checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] checked:focus:after:rotate-45 checked:focus:after:rounded-none checked:focus:after:border-[0.125rem] checked:focus:after:border-l-0 checked:focus:after:border-t-0 checked:focus:after:border-solid checked:focus:after:border-white checked:focus:after:bg-transparent dark:border-neutral-600 dark:checked:border-primary dark:checked:bg-primary dark:focus:before:shadow-[0px_0px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca]"
                               type="checkbox"
                               required />
                        <label class="inline-block pl-[0.15rem] hover:cursor-pointer"
                               for="checkboxChecked">
                            Я согласен на обработку персональных данных и соглашаюсь с условиями <a class="text-blue-700" target="_blank" href="/files/privacy.pdf">политики конфиденциальности</a>
                        </label>
                    </div>
                    <div class="flex justify-center">
                        <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                                type="submit">
                            Отправить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    @if (Model.Helps is not null &&
    Model.Helps.Any())
    {
        <!-- В помощь участнику -->
        <section class="text-gray-700 body-font border-t border-gray-200" id="info">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">В помощь участнику</h1>
                </div>
                <div class="flex flex-wrap -m-4">
                    @foreach (var help in Model.Helps)
                    {
                        <div class="w-full md:w-1/2 p-4">
                            <div class="h-full border border-gray-300 p-6 rounded-lg">
                                <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                         stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                                        <path d="M12 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 2C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z">
                                        </path>
                                    </svg>
                                </div>
                                <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">@help.Name</h2>
                                <p class="leading-relaxed text-base whitespace-pre-line text-lg break-all">@help.Description</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

    @if (Model.News is not null &&
    Model.News.Any())
    {
        <!-- Новости -->
        <section class="text-gray-700 body-font border-t border-gray-200">
            <div class="container flex flex-wrap px-5 py-24 mx-auto justify-center">
                <div class="flex flex-wrap w-full mb-10 flex-col items-center text-center">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Новости</h1>
                </div>
                @foreach (var news in Model.News)
                {
                    <div class="block justify-between mb-6 md:mx-5 md:w-1/5 rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
                        <div class="relative w-full overflow-hidden bg-cover bg-no-repeat"
                             data-te-ripple-init
                             data-te-ripple-color="light">
                            <img class="rounded-t-lg w-full h-36"
                                 src="@news.PhotoLink"
                                 alt="" />
                            <a href="@news.Link"
                               target="_blank">
                                <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"></div>
                            </a>
                        </div>
                        <div class="p-6">
                            <h5 class="mb-2 text-xl font-medium leading-tight text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 break-normal">
                                <a href="@news.Link"
                                   target="_blank">
                                    @news.Name
                               </a>
                            </h5>
                            <p class="mb-4 text-base text-neutral-600 break-all">@news.Description</p>
                        </div>
                    </div>
                }
            </div>
        </section>
    }

    @if (Model.Files is not null &&
    Model.Files.Any())
    {
        <!-- Прикрепленные файлы -->
        <section class="text-gray-700 body-font border-t border-gray-200">
            <div class="container flex flex-wrap px-5 py-24 mx-auto justify-center">
                <div class="flex flex-wrap w-full mb-10 flex-col items-center text-center">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Прикрепленные файлы</h1>
                </div>
                <div class="flex justify-center flex-wrap p-5 w-full align-center mb-6 mx-5 rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
                    @foreach (var file in Model.Files)
                    {
                        <div class="flex rounded-md border border-gray-200 m-2 md:w-1/4">
                            <div class="flex items-center ml-5 mr-2 my-5 min-w-fit">
                                <img src="https://cdn-icons-png.flaticon.com/512/2965/2965335.png" class="h-10 w-10">
                            </div>
                            <div class="flex items-center mr-5 my-5">
                                <a href="@file.Path" class="text-blue-800 break-normal">
                                    @file.Name
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

    @if (Model.Partners is not null &&
    Model.Partners.Any())
    {
        <!-- Партнеры -->
        <section class="text-gray-700 body-font border-t border-gray-200">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-col text-center w-full mb-20">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Наши партнеры</h1>
                </div>
                <div class="flex flex-wrap -m-2">
                    @foreach (var partner in Model.Partners)
                    {
                        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                                <img alt="team"
                                     class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                                     src="@partner.PhotoUrl">
                                <div class="flex-grow">
                                    <h2 class="text-gray-900 title-font font-medium">
                                        <a class="text-blue-600"
                                           href="@partner.Url">@partner.Name</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

    <!-- Задать вопрос -->
    <section class="text-gray-700 body-font relative" id="help">
        <div class="absolute inset-0 bg-gray-300">
            <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map"
                    scrolling="no"
                    src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Ufa&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                    style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
        </div>
        <div class="container px-5 py-24 mx-auto flex">
            <form class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10"
                  method="POST" action="/ContestView/question">
                <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Задать вопрос</h2>
                <p class="leading-relaxed mb-5 text-gray-600">Задайте интересующий вас вопрос организаторам</p>
                <input class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4"
                       placeholder="Email" type="email" name="Email" required>
                <input class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4"
                       placeholder="Name" type="text" name="Name" required>
                <textarea class="bg-white rounded border border-gray-400 focus:outline-none h-32 focus:border-indigo-500 text-base px-4 py-2 mb-4 resize-none"
                          placeholder="Message" name="Description" required></textarea>
                <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                        type="submit">
                    Отправить
                </button>
            </form>
        </div>
    </section>

    <footer class="text-gray-700 body-font">
        <div class="bg-gray-200">
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="mx-2 text-gray-500 text-sm text-center sm:text-left">
                    © 2023 Contest Generator —
                    <a href="https://github.com/yungd1plomat" class="text-gray-600 ml-1" target="_blank"
                       rel="noopener noreferrer">@@yungd1plomat</a>
                </p>
                <p class="mx-2 text-gray-500 text-sm text-center sm:text-left">
                    <a href="/files/privacy.pdf" class="text-gray-600 ml-1" target="_blank"
                       rel="noopener noreferrer">Политика конфиденциальности</a>
                </p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="~/js/contest.js"></script>
</body>
