@using ContestGenerator.Models;
@model EditViewmodel;

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <title>Contest Generator - Edit @Model.Contest.Name</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!--Main Navigation-->
    @await Html.PartialAsync("_Sidebar")
    <!--Main Navigation-->
    <!--Main layout-->
    <main class="flex justify-center overflow-auto"
          style="background: no-repeat top center, linear-gradient(#070A0C, #18153A);">
        <div class="container flex flex-col h-full pt-[60px] md:ml-60">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex-1"
                  method="post">
                <div class="text-red-700 px-4 py-3 rounded relative" role="alert">
                    @Html.ValidationSummary(false)
                </div>
                <h2 class="mb-4 text-2xl font-semibold">Создание конкурса</h2>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <label class="block text-gray-700 text-sm font-bold mb-2">
                            Название (только англ. символы)
                        </label>
                        <input name="Name"
                               class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               type="text"
                               placeholder="MZVCP_1234"
                               value="@Model.Contest.Name"
                               required />
                    </div>
                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <label class="block text-gray-700 text-sm font-bold mb-2">
                            Ссылка на лого
                        </label>
                        <input name="LogoUrl"
                               class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               type="text"
                               placeholder="https://i.imgur.com/Om5UTl6.png"
                               value="@Model.Contest.LogoUrl"
                               required />
                    </div>
                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <label class="block text-gray-700 text-sm font-bold mb-2">
                            Короткое название (рядом с лого)
                        </label>
                        <input name="ShortName"
                               class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               type="text"
                               value="@Model.Contest.ShortName"
                               placeholder="МЗВЦП"
                               required />
                    </div>
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Полное название конкурса
                    </label>
                    <input name="FullName"
                           class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           type="text"
                           value="@Model.Contest.FullName"
                           placeholder="Моя земля в цифровой проекции" required />
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Описание конкурса
                    </label>
                    <input name="Description"
                           class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           type="text"
                           placeholder="Конкурс талантов, а так же профессиональных профессионалов, которые соревнуются в своем профессионализме и бла бла бла бла бла бла"
                           value="@Model.Contest.Description"
                           required />
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Ссылка на главное фото на странице
                    </label>
                    <input name="MainPhotoUrl"
                           class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           type="text"
                           value="@Model.Contest.MainPhotoUrl"
                           placeholder="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" required />
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <h1 class="text-lg font-semibold flex">Правила</h1>
                    <button class="flex items-center justify-center" onclick="addRules()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                            </svg>
                        </span>
                    </button>
                    <button class="flex items-center justify-center" onclick="removeRules()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4" x2="20" y1="12"
                                      y2="12"></line>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center rulesContent">
                    @if (!string.IsNullOrEmpty(Model.Contest.Rules))
                    {
                        <textarea class="h-32 shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="1. Не нарушать правила" name="Rules" required="required">@Model.Contest.Rules</textarea>
                    }
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <h1 class="text-lg font-semibold flex">История</h1>
                    <button class="flex items-center justify-center" onclick="addHistory()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                            </svg>
                        </span>
                    </button>
                    <button class="flex items-center justify-center" onclick="removeHistory()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4" x2="20" y1="12"
                                      y2="12"></line>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center historyContent">
                    @if (!string.IsNullOrEmpty(Model.Contest.History))
                    {
                        <textarea class="h-32 shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="1. 2023 создана платформа" name="History" required="required">@Model.Contest.History</textarea>
                    }
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <h1 class="text-lg font-semibold flex">Отзывы</h1>
                    <button class="flex items-center justify-center" onclick="addReview()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                            </svg>
                        </span>
                    </button>
                    <button class="flex items-center justify-center" onclick="removeReview()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4" x2="20" y1="12"
                                      y2="12"></line>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="reviewsContent">
                    @if (Model.Contest.Reviews != null && Model.Contest.Reviews.Any())
                    {
                        for (int i = 0; i < Model.Contest.Reviews.Count(); i++)
                        {
                            <div class="reviewItem flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <div class="mb-1">
                                        <label class="block text-gray-700 text-sm font-bold mb-2">
                                            Имя
                                        </label>
                                        <input name="Reviews[@i].Name"
                                               class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                               type="text" placeholder="Иванов Василий" required
                                               value="@Model.Contest.Reviews.ElementAt(i).Name" />
                                    </div>
                                    <div class="mb-1">
                                        <label class="block text-gray-700 text-sm font-bold mb-2">
                                            Ссылка на аватар
                                        </label>
                                        <input name="Reviews[@i].Url"
                                               class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                               type="text" placeholder="https://cdn-icons-png.flaticon.com/512/3177/3177440.png"
                                               value="@Model.Contest.Reviews.ElementAt(i).Url"
                                               required />
                                    </div>
                                </div>
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        Текст отзыва
                                    </label>
                                    <textarea class="h-32 shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Лучший конкурс!!" name="Reviews[@i].Description" required>@Model.Contest.Reviews.ElementAt(i).Description</textarea>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <h1 class="text-lg font-semibold flex">Фото</h1>
                    <button class="flex items-center justify-center" onclick="addPhoto()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                            </svg>
                        </span>
                    </button>
                    <button class="flex items-center justify-center" onclick="removePhoto()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4" x2="20" y1="12"
                                      y2="12"></line>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="photoContent">
                    @if (Model.Contest.PhotoUrls != null && Model.Contest.PhotoUrls.Any())
                    {
                        for (int i = 0; i < Model.Contest.PhotoUrls.Count(); i++)
                        {
                            <div class="photoItem flex flex-wrap px-3 -mx-3 mb-6">
                                <input name="PhotoUrls[@i].Url"
                                       class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       type="text" placeholder="https://i.imgur.com/wNZKQLY.jpeg"
                                       value="@Model.Contest.PhotoUrls.ElementAt(i).Url"
                                       required />
                            </div>
                        }
                    }
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <h1 class="text-lg font-semibold flex">Шаги для подготовки</h1>
                    <button class="flex items-center justify-center" onclick="addStep()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                            </svg>
                        </span>
                    </button>
                    <button class="flex items-center justify-center" onclick="removeStep()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4" x2="20" y1="12"
                                      y2="12"></line>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="stepsContent">
                    @if (Model.Contest.Steps != null && Model.Contest.Steps.Any())
                    {
                        for (int i = 0; i < Model.Contest.Steps.Count(); i++)
                        {
                            <div class="stepItem flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        Название шага
                                    </label>
                                    <input name="Steps[@i].Name"
                                           class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2"
                                           type="text" placeholder="Выбери тему"
                                           value="@Model.Contest.Steps.ElementAt(i).Name"
                                           required>
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        * Ссылка на видео
                                    </label>
                                    <input name="Steps[@i].VideoUrl"
                                           class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2"
                                           type="text"
                                           value="@Model.Contest.Steps.ElementAt(i).VideoUrl"
                                           placeholder="https://rutube.ru/play/embed/c6cc4d620b1d4338901770a44b3e82f4">
                                </div>
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        * Описание
                                    </label>
                                    <textarea class="h-32 shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Соберись с мыслями" name="Steps[@i].Description" required>@Model.Contest.Steps.ElementAt(i).Description</textarea>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <h1 class="text-lg font-semibold flex">Номинации</h1>
                    <button class="flex items-center justify-center" onclick="addNomination()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                            </svg>
                        </span>
                    </button>
                    <button class="flex items-center justify-center" onclick="removeNomination()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4" x2="20" y1="12"
                                      y2="12"></line>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="nominationsContent">
                    @if (Model.Contest.Nominations != null && Model.Contest.Nominations.Any())
                    {
                        for (int i = 0; i < Model.Contest.Nominations.Count(); i++)
                        {
                            <div class="nominationItem flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        Название номинации
                                    </label>
                                    <input name="Nominations[@i].Name"
                                           class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                           type="text"
                                           value="@Model.Contest.Nominations.ElementAt(i).Name"
                                           placeholder="Лучший певец"
                                           required="">
                                </div>
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        Описание
                                    </label>
                                    <textarea class="h-32 shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Спой лучше всех и победи!!" name="Nominations[@i].Description" required="">@Model.Contest.Nominations.ElementAt(i).Description</textarea>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <h1 class="text-lg font-semibold flex">Поля формы для ответа</h1>
                    <button class="flex items-center justify-center" onclick="addField()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                            </svg>
                        </span>
                    </button>
                    <button class="flex items-center justify-center" onclick="removeField()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4" x2="20" y1="12"
                                      y2="12"></line>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="formFields">
                    @if (Model.Contest.FormFields != null && Model.Contest.FormFields.Any())
                    {
                        for (int i = 0; i < Model.Contest.FormFields.Count(); i++)
                        {
                            <div class="formField flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        Название поля
                                    </label>
                                    <input name="FormFields[@i].Name"
                                           class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                           type="text"
                                           placeholder="Ваш город"
                                           value="@Model.Contest.FormFields.ElementAt(i).Name"
                                           required>
                                </div>
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <div class="flex md:w-1/2 text-center align-center mb-2">
                                        <label class="block text-gray-700 text-sm font-bold">
                                            Значения
                                        </label>
                                        @{
                                            var predefinedIndex = Model.Contest.FormFields.ElementAt(i).Predefined?.Count() ?? 0;
                                        }
                                        <button fieldIndex="@i"
                                                predefinedIndex="@predefinedIndex" class="addPredefined flex items-center justify-center" type="button">
                                            <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                                                </svg>
                                            </span>
                                        </button>
                                        <button class="removePredefined flex items-center justify-center" type="button">
                                            <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
                                                    <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4" x2="20" y1="12" y2="12"></line>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="predefinedFields">
                                        @if (Model.Contest.FormFields.ElementAt(i).Predefined != null && Model.Contest.FormFields.ElementAt(i).Predefined.Any())
                                        {
                                            for (int p = 0; p < Model.Contest.FormFields.ElementAt(i).Predefined.Count(); p++)
                                            {
                                                <input name="FormFields[@i].Predefined[@p].Value"
                                                       class="mb-2 shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                       type="text"
                                                       placeholder="Уфа"
                                                       value="@Model.Contest.FormFields.ElementAt(i).Predefined.ElementAt(p).Value"
                                                       required>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <h1 class="text-lg font-semibold flex">В помощь участнику</h1>
                    <button class="flex items-center justify-center" onclick="addHelp()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                            </svg>
                        </span>
                    </button>
                    <button class="flex items-center justify-center" onclick="removeHelp()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4" x2="20" y1="12"
                                      y2="12"></line>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="helpsContent">
                    @if (Model.Contest.Helps != null && Model.Contest.Helps.Any())
                    {
                        for (int i = 0; i < Model.Contest.Helps.Count(); i++)
                        {
                            <div class="helpItem flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        Название
                                    </label>
                                    <input name="Helps[@i].Name"
                                           class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                           type="text" placeholder="Критерии оценки"
                                           value="@Model.Contest.Helps.ElementAt(i).Name"
                                           required>
                                </div>
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        Текст
                                    </label>
                                    <textarea class="h-32 shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="1. Четкие" name="Helps[@i].Description" required>@Model.Contest.Helps.ElementAt(i).Description</textarea>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <h1 class="text-lg font-semibold flex">Новости</h1>
                    <button class="flex items-center justify-center" onclick="addNews()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                            </svg>
                        </span>
                    </button>
                    <button class="flex items-center justify-center" onclick="removeNews()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4" x2="20" y1="12"
                                      y2="12"></line>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="newsContent">
                    @if (Model.Contest.News != null && Model.Contest.News.Any())
                    {
                        for (int i = 0; i < Model.Contest.News.Count(); i++)
                        {
                            <div class="newsItem flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <div class="mb-1">
                                        <label class="block text-gray-700 text-sm font-bold mb-2">
                                            Название
                                        </label>
                                        <input name="News[@i].Name"
                                               class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                               type="text"
                                               placeholder="Была создана новая платформа для проведения олимпиад"
                                               value="@Model.Contest.News.ElementAt(i).Name"
                                               required="">
                                    </div>
                                    <div class="mb-1">
                                        <label class="block text-gray-700 text-sm font-bold mb-2">
                                            Фото
                                        </label>
                                        <input name="News[@i].PhotoLink"
                                               class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                               type="text"
                                               value="@Model.Contest.News.ElementAt(i).PhotoLink"
                                               placeholder="https://cdn-icons-png.flaticon.com/512/3177/3177440.png"
                                               required="">
                                    </div>
                                    <div class="mb-1">
                                        <label class="block text-gray-700 text-sm font-bold mb-2">
                                            Ссылка
                                        </label>
                                        <input name="News[@i].Link"
                                               class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                               type="text" placeholder="https://bspu.ru/news/1"
                                               value="@Model.Contest.News.ElementAt(i).Link"
                                               required="">
                                    </div>
                                </div>
                                <div class="w-full md:w-1/2 h-full px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        Описание
                                    </label>
                                    <textarea placeholder="На днях была создана и протестирована новая платформа для проведения олимпиад"
                                              name="News[@i].Description" required=""
                                              class="h-52 shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">@Model.Contest.News.ElementAt(i).Description</textarea>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <h1 class="text-lg font-semibold flex">Прикрепленные файлы</h1>
                </div>
                <div class="mb-6 w-full mb-6 p-2 block rounded-lg bg-white text-left shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">

                    @for (int i = 0; i < Model.Files.Count(); i++)
                    {
                        <div class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
                            @if (Model.Contest.Files != null && Model.Contest.Files.Contains(Model.Files.ElementAt(i)))
                            {
                                <input class="relative float-left -ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 outline-none before:pointer-events-none before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full before:bg-transparent before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-[''] checked:border-primary checked:bg-primary checked:before:opacity-[0.16] checked:after:absolute checked:after:-mt-px checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid checked:after:border-white checked:after:bg-transparent checked:after:content-[''] hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] focus:after:rounded-[0.125rem] focus:after:content-[''] checked:focus:before:scale-100 checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] checked:focus:after:-mt-px checked:focus:after:ml-[0.25rem] checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] checked:focus:after:rotate-45 checked:focus:after:rounded-none checked:focus:after:border-[0.125rem] checked:focus:after:border-l-0 checked:focus:after:border-t-0 checked:focus:after:border-solid checked:focus:after:border-white checked:focus:after:bg-transparent dark:border-neutral-600 dark:checked:border-primary dark:checked:bg-primary dark:focus:before:shadow-[0px_0px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca]"
                                       type="checkbox"
                                       name="Files[@i].Name"
                                       value="@Model.Files.ElementAt(i).Name"
                                       id="checkboxDefault"
                                       checked />
                                <label class="inline-block pl-[0.15rem] hover:cursor-pointer"
                                       for="checkboxDefault">
                                    @Model.Files.ElementAt(i).Name
                                </label>
                            }
                            else
                            {
                                <input class="relative float-left -ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 outline-none before:pointer-events-none before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full before:bg-transparent before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-[''] checked:border-primary checked:bg-primary checked:before:opacity-[0.16] checked:after:absolute checked:after:-mt-px checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid checked:after:border-white checked:after:bg-transparent checked:after:content-[''] hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] focus:after:rounded-[0.125rem] focus:after:content-[''] checked:focus:before:scale-100 checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] checked:focus:after:-mt-px checked:focus:after:ml-[0.25rem] checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] checked:focus:after:rotate-45 checked:focus:after:rounded-none checked:focus:after:border-[0.125rem] checked:focus:after:border-l-0 checked:focus:after:border-t-0 checked:focus:after:border-solid checked:focus:after:border-white checked:focus:after:bg-transparent dark:border-neutral-600 dark:checked:border-primary dark:checked:bg-primary dark:focus:before:shadow-[0px_0px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca]"
                                       type="checkbox"
                                       name="Files[@i].Name"
                                       value="@Model.Files.ElementAt(i).Name"
                                       id="checkboxDefault" />
                                <label class="inline-block pl-[0.15rem] hover:cursor-pointer"
                                       for="checkboxDefault">
                                    @Model.Files.ElementAt(i).Name
                                </label>
                            }
                        </div>
                    }
                </div>

                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <h1 class="text-lg font-semibold flex">Партнеры</h1>
                    <button class="flex items-center justify-center" onclick="addPartner()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                            </svg>
                        </span>
                    </button>
                    <button class="flex items-center justify-center" onclick="removePartner()" type="button">
                        <span class="mx-1 [&amp;>svg]:h-5 [&amp;>svg]:w-5 [&amp;>svg]:text-gray-400 dark:[&amp;>svg]:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-5 w-5">
                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4" x2="20" y1="12"
                                      y2="12"></line>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="partnersContent">
                    @if (Model.Contest.Partners != null && Model.Contest.Partners.Any())
                    {
                        for (int i = 0; i < Model.Contest.Partners.Count(); i++)
                        {
                            <div class="flex flex-wrap -mx-3 mb-6 partnerItem">
                                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        Организация
                                    </label>
                                    <input name="Partners[@i].Name"
                                           class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                           type="text"
                                           value="@Model.Contest.Partners.ElementAt(i).Name"
                                           placeholder="Газпром"
                                           required />
                                </div>
                                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        Сайт
                                    </label>
                                    <input name="Partners[@i].Url"
                                           class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                           type="text"
                                           value="@Model.Contest.Partners.ElementAt(i).Url"
                                           placeholder="https://www.gazprom.ru/"
                                           required />
                                </div>
                                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">
                                        Лого
                                    </label>
                                    <input name="Partners[@i].PhotoUrl"
                                           class="shadow-sm appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                           type="text"
                                           value="@Model.Contest.Partners.ElementAt(i).PhotoUrl"
                                           placeholder="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" required />
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="flex flex-wrap px-3 -mx-3 mb-6 items-center">
                    <p class="text-sm flex underline">Поля отмеченные * не обязательны для заполнения</p>
                </div>
                <button class="bg-blue-500 w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                    Сохранить
                </button>
            </form>
        </div>
    </main>

    @{
        var reviewIndex = Model.Contest.Reviews?.Count() ?? 0;
        var photoIndex = Model.Contest.PhotoUrls?.Count() ?? 0;
        var stepIndex = Model.Contest.Steps?.Count() ?? 0;
        var fieldIndex = Model.Contest.FormFields?.Count() ?? 0;
        var helpIndex = Model.Contest.Helps?.Count() ?? 0;
        var partnerIndex = Model.Contest.Partners?.Count() ?? 0;
        var nominationIndex = Model.Contest.Nominations?.Count() ?? 0;
        var newsIndex = Model.Contest.News?.Count() ?? 0;
    }
    <script>
        var reviewIndex = @reviewIndex;
        var photoIndex = @photoIndex;
        var stepIndex = @stepIndex;
        var fieldIndex = @fieldIndex;
        var helpIndex = @helpIndex;
        var partnerIndex = @partnerIndex;
        var nominationIndex = @nominationIndex;
        var newsIndex = @newsIndex;
    </script>
    <!--Main layout-->
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="~/js/edit.js"></script>
</body>
